.signupsignup{
    width: 100%;
    height: 80vh;
    background-color: rgb(169, 191, 228);
    padding-top: 100px;

}
.signupsignup-container{
    width: 580px;
    height: 600px;
    background-color: rgb(191, 215, 237);
    margin: auto;
    padding: 40px 60px;

}

.signupsignup-container h1{
    margin: 20px 0px;
}
    
.signupsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin: top 30px; ;

}

.signupsignup-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px snow;
    outline: none;
    color: rgb(14, 14, 14);
    font-size: 18px;
}

.signupsignup-container button{
    width: 580px;
    height: 72px;
    color: aliceblue;
    background-color: brown;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.signupsignup-signup{
    margin-top:20px ;
    color: rgb(61, 9, 122);
    font-size: 18px;
    font-weight: 500;
}

.signupsignup-signup span{
    color: rgb(184, 4, 4);
    font-weight: 600;

}

.signupsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: rgb(8, 0, 31);
    font-size: 18px;
    font-weight: 500;
}